.i{ width:16px;height:16px;overflow:hidden;display: inline-block;background:url(//fed.oliv.cn/i/3/003.png) no-repeat;margin:0 .1em .2em .1em;line-height: 0!important;text-align:left;vertical-align:middle;text-decoration:none!important;-webkit-text-size-adjust:none}

.i1{background-position:0 0}
.i2{background-position:-24px 0}
.i3{background-position:-49px 0}
.i4{background-position:-73px 0}