.pg{clear:both;zoom:1;text-align:right;padding: 20px 0 5px 0;margin:10px;font-family:STHeiti,SimSun!important;}
.pg a{display:inline-block;margin: 0 5px 0 0;padding: 3px 6px;}
.pg a:hover {border-color:#a4a4a4;text-decoration:none;text-indent:0;color:#937342}