/*
Dialog
*/
.dlg{position:absolute;z-index:10;width:500px;border:1px solid #c1c1c1;background:#f5f5f5;color:#666;border-radius:5px;box-shadow: 1px 1px 5px rgba(148,148,148,.17);}
.dlgT, .dlgB{height:32px;padding: 8px 10px; background:transparent;}
.dlgT{border-bottom:1px solid #ccc;overflow: hidden;color:#333;font-size:18px;line-height:1.5;text-overflow: ellipsis;white-space: nowrap;cursor:move;box-shadow: inset 0 1px 0 #ffffff;}

.dlgC{background: #fff;min-height:200px;padding:15px;}
.dlgM{text-align:center;}
.dlgX{width: 32px;height: 32px;margin: 0 0 -32px -32px;cursor:pointer;}
.dlgB{border-top:1px solid #ccc;box-shadow: inset 0 1px 0 #ffffff;}